body { 
  background: #fff;
}

footer {

}

.modal-target {
  display: none;
}

.rmr-modal-dialog.rmr-modal-node {
  background: #fff;
  color: #000;
  width: 50%;
  left: 25%;
  font-family: sans-serif;
}

.rmr-modal-dialog h1 {
  padding: 20px 0 0 20px;
  margin: 0;
}

.rmr-modal-dialog p {
  padding: 0 20px 20px 20px;
  margin: 0;
}

.rmr-modal-bg.random-class {
  background: rgba(255,255,255,0.9);
}

.rmr-modal-dialog.random-class {
  background: yellow;
}
.rmr-modal-dialog.xhr-class {
  background: aqua;
}

.rmr-modal-dialog footer {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: #ddd;
}

.rmr-modal-dialog footer button {
  background: #555;
  float: right;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 120%;
  padding: 10px 20px;
  transition: background 0.2s;
}

.rmr-modal-dialog footer button:hover {
  background: #222;
}
